---
layout: page
title: Projects
---
<br></br>
<h1>Projects</h1>
<!-- <section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                    {% if post.externalLink %}
                    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% endif %}">
                            {% endif %}
                    <h3 class="title">{{ post.title }}</h3>
                    
                </a>
                    <p>{{ post.preview }}</p>
    
            </div>
        {% endif %}
    {% endfor %}
</section> -->
<div class = "projects">
<h3> <a href = "https://devpost.com/software/justincase" style="text-decoration:none">JustInCase</a></h3>
<h4 style="color:#696969">Designed and built a smart case that deploys an emergency protection mechanism when your phone is falling to prevent shattered screens.</h4>
<h4 style="color:#696969"><em>Technologies: </em>Designed and built a smart case that deploys an emergency protection mechanism when your phone is falling to prevent shattered screens.</h4>
<hr>

<h3> <a href = "https://play.google.com/store/apps/details?id=com.scholar_pedia.scholarpedia" style="text-decoration:none">ScholarPedia</a></h3>
<h4 style="color:#696969">Designed, developed and marketed an Android application to make studying easier for high school students.</h4>

<hr>

<h3> <a href = "https://play.google.com/store/apps/details?id=com.scholar_pedia.scholarpedia" style="text-decoration:none">ScholarPedia</a></h3>
<h4 style="color:#696969">Designed, developed and marketed an Android application to make studying easier for high school students.</h4>

</div>