---
layout: page
title: Projects
---
<br></br>
<h1>Projects</h1>
<h3><a href = "https://devpost.com/software/justincase" style="text-decoration:none">JustInCase</a></h3>
<h4><strong>Designed and built a smart case that deploys an emergency protection mechanism when your phone is falling to prevent shattered screens.</strong></h3>
<h4 style="color:#696969">Technologies: <strong>Arduino, SolidWorks</strong></h4>
<hr>
<h3> <a href = "https://play.google.com/store/apps/details?id=com.scholar_pedia.scholarpedia" style="text-decoration:none">ScholarPedia</a></h3>
<h4><strong>Developed and deployed an Android application to make studying easier for high school students. 1000+ downloads from 20+ countries, rated 4.5/5 on the Google Play Store</strong></h3>
<h4 style="color:#696969">Technologies: <strong>Java (Android), XML</strong></h4>
<hr>
<h3>Vaels Vote</h3>
<h4><strong>Designed and developed the student council polling tablet application for Vaels International School, a first for any school in Chennai. The app eliminated human error and increased efficiency by 300%, setting a school record for the fastest election.</strong></h3>
<h4 style="color:#696969">Technologies: <strong>Java (Android), XML</strong></h4>
<hr>
<h3> <a href = "http://writeherewritenow.co.nf" style="text-decoration:none">writeherewritenow</a></h3>
<h4><strong>Designed and deployed a redefined version of Open-Access Journals. Partnered with 5 global student organizations, hosted contests for an audience of 1500+ users from 10+ countries.</strong></h3>
    <h4 style="color:#696969">Technologies: <strong>HTML, CSS, WordPress</strong></h4>

    <hr>
    <center><a href="/blog/extras" style="text-decoration:none">Other Popular Work</a></center>



<!-- <section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                    {% if post.externalLink %}
                    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% endif %}">
                            {% endif %}
                    <h3 class="title">{{ post.title }}</h3>
                    
                </a>
                    <p>{{ post.preview }}</p>
    
            </div>
        {% endif %}
    {% endfor %}
</section> -->