---
layout: page
title: Projects
---
<br></br>
<h1>Projects</h1>
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                    {% if post.externalLink %}
                    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% endif %}">
                            {% endif %}
                    <h3 class="title">{{ post.title }}</h3>
                    
                </a>
                    <p>{{ post.preview }}</p>
    
            </div>
        {% endif %}
    {% endfor %}
</section>
